body {
  font-family: Arial;
  padding: 20px;
  background: linear-gradient(to right, #74ebd5, #9face6);
}

h1 {
  text-align: center;
}

.tabs button {
  margin: 4px;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  background: white;
  cursor: pointer;
}

.tabs button.active {
  background: #4caf50;
  color: white;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

input, select {
  margin: 5px;
  padding: 8px;
}

.word {
  background: white;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
}

.flash {
  margin-top: 20px;
  padding: 30px;
  border-radius: 15px;
  background: white;
  text-align: center;
}

.flash #card {
  font-size: 28px;
  margin-bottom: 20px;
}

.flash-btn button {
  margin: 5px;
}

.hidden {
  display: none;
}
